/*global*/
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    width:60%;
    margin:auto;
    font: 16px "Poppins", Arial, sans-serif;
    line-height: 30px;
    font-weight: 200;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
   -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
   box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  
}
h1 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    padding-bottom:20px;
}
h2 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
    display:inline-block;
    padding:20px 0;
}

.text-bold {
   font-weight: 600;
}

/*header*/

header {
    background-color:#171B26;
    color:#fff;
    display: grid;
    grid-template-columns: 350px 1fr;
}
.section-header {
    padding-top:50px;
    background-color:#171B26;
    position:relative;
}

.avatar {
    background-color: #212530;
    padding:60px 0;
    margin:0 50px;
 }
header img{
    display:block;
    width:100%;
    height:auto;   
}
header h2 {
    background-color:#2E313C;
    padding:10px; 
}

header ul {
    list-style: none;
}

header li {
    padding-top:10px;
    font-size:1em;
}

nav ul {
    position:absolute;
    bottom:15px;
    margin-left:-25px;
    list-style: none;
}

nav ul li {
    text-transform:uppercase;
   display:inline;
   font-size:0.8em;
}
nav ul a {
    color:#fff;
    text-decoration: none;
}

nav ul a:hover{
    text-decoration: underline;  
}
 .circle-white {
    display: inline-block;
    width:9px;
    height:9px;
    background-color: #fff;
    border-radius:50%;
    margin-right: 6px;
    margin-left: 6px;
    margin-bottom: 1px;
 }

/*main*/

main{
    background-color: #fff;
    color:#171B26;
    display: grid;
    grid-template-columns: 350px 1fr;  
}
.section-left {
    background-color: #e6e7e9;
    margin:0 50px;
    padding:30px;
}

.section-right {
    padding:30px 20px 0 0;
}

.JScode-example {
    border-left: 8px solid #e6e7e9;
    padding-left:10px;
}

.skills{
    list-style: none;
    margin-bottom:30px;  
}
.skills li {
    display:inline;
    padding-right:20px;
}
.circle-black {
    display: inline-block;
    width:8px;
    height:8px;
    background-color:#212634;
    border-radius:50%;
    margin-left: 5px;
    }

.circle-grey {
    display: inline-block;
    width:8px;
    height:8px;
    background-color:#d1d2d3;
    border-radius:50%;
    margin-left: 5px; 
    }

main a {
        color:#212634;
        text-decoration: none; 
        display:inline-block;
       margin-left:7px;
    }
    
main a:hover{
        text-decoration: underline;  
    }
    
/*footer*/

footer{
    padding:30px;
    background-color:#171B26; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
footer a {
    color:#fff;
    text-decoration: none;
 margin-left:45px;
}

footer a:hover{
    text-decoration: underline;  
}

footer p{
    color:#fff;
}

 a.git_link:after {
    content: "";
    display: inline-block;
    background: url("rs_school_js.svg") no-repeat top right #fff;
    width: 56px;
    height:16px;
    margin-left:10px;
    padding: 10px;
    margin-bottom:-10px;

   }

   a.rs_link:after {
    content: "";
    display: inline-block;
    background: url("git_ikon.png") no-repeat top right;
    width: 32px;
    height:32px;
    margin-bottom:-10px;
    margin-left:10px;
   }

